doctype html
html(lang='de', ng-app='verbshaker' ng-controller="verbshakerController as ctrl")
  head
    meta(name='author', content='Dominik Sigmund')
    meta(name='publisher', content='Dominik Sigmund')
    meta(name='copyright', content='Dominik Sigmund')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='page-topic', content='')
    meta(name='page-type', content='')
    meta(name='audience', content='Alle')
    meta(http-equiv='content-language', content='de')
    meta(name='robots', content='index, follow')
    meta(name='DC.Creator', content='Dominik Sigmund')
    meta(name='DC.Publisher', content='Dominik Sigmund')
    meta(name='DC.Rights', content='Dominik Sigmund')
    meta(name='DC.Description', content='')
    meta(name='DC.Language', content='de')
    link(rel='stylesheet' ng-href="/css/{{ctrl.settings.fontfamily}}.css")
    if dev
      include ./styles-dev.jade
    else
      include ./styles.jade
    link(rel="apple-touch-icon", sizes="180x180", href="images/apple-touch-icon.png")
    link(rel="icon", type="image/png", href="images/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="images/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="images/manifest.json")
    link(rel="mask-icon", href="images/safari-pinned-tab.svg", color="#4caf50")
    meta(name="apple-mobile-web-app-title", content="Verbshaker")
    meta(name="application-name", content="Verbshaker")
    meta(name="msapplication-config", content="images/browserconfig.xml")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    title VerbShaker
  body.no-skin(ng-style="{'background-color':ctrl.settings.backgroundcolor}")
    nav.navbar.navbar-default.navbar-fixed-top(ng-show="!ctrl.settings.hiddenNav")
      .fluid-container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#')
            img(src="images/android-chrome-192x192.png")
            span Verbshaker
        #navbar.collapse.navbar-collapse(style="max-height: 500px;")
          ul.nav.navbar-nav.navbar-left(ng-if="ctrl.changeable.language")
            li(ng-class="{ active:  ctrl.settings.language === lang}" ng-repeat="lang in ctrl.languages")
              a(href='#' ng-click="ctrl.settings.language = lang; ctrl.updateSettings(); ctrl.newProverb()")
                span.flag-icon(ng-class="'flag-icon-'+lang" tooltips tooltip-template="Change to {{lang}}")
          ul.nav.navbar-nav.navbar-right(style="margin-right: 15px;")
            li.navbar-btn(style="width:50px; margin-right: 50px;margin-left: 10px;" ng-if="ctrl.changeable.autoupdate")
              h-number(tooltips tooltip-template="Autoupdate every x Seconds. 0 is off" value="ctrl.settings.autoupdate" ng-model="ctrl.settings.autoupdate" min="0" max="60" step="1")
            li(ng-if="ctrl.changeable.backgroundcolor")
              button.btn.btn-default.navbar-btn(tooltips tooltip-template="Change Background Color" style="margin-left:10px" colorpicker="hex" type="button" ng-model="ctrl.settings.backgroundcolor" ng-change="ctrl.updateSettings()") Background Color
            li(ng-if="ctrl.changeable.fontcolor")
              button.btn.btn-default.navbar-btn(tooltips tooltip-template="Change Font Color" style="margin-left:10px" colorpicker="hex" type="button" ng-model="ctrl.settings.fontcolor" ng-change="ctrl.updateSettings()") Font Color
            li(ng-if="ctrl.changeable.fontfamily")
              select.form-control.navbar-btn(tooltips tooltip-template="Change Font Family" style="margin-left:10px" ng-options="font.postscriptName as font.family for font in ctrl.fonts" ng-model="ctrl.settings.fontfamily" ng-change="ctrl.updateSettings()" ng-init="ctrl.settings.fontfamily = ctrl.settings.fontfamily" )
            li.navbar-btn(style="width:50px; margin-right: 50px; margin-left: 10px;" ng-if="ctrl.changeable.fontsize")
              h-number(tooltips tooltip-template="Fontsize relative to screensize" value="ctrl.settings.fontsize" ng-model="ctrl.settings.fontsize" min="1" max="60" step="1")
            li(ng-if="ctrl.changeable.proverbbutton")
              button.btn.btn-default.navbar-btn(tooltips tooltip-template="Toggle Proverb-Button" style="margin-left:10px" type="button" ng-click="ctrl.settings.proverbbutton = !ctrl.settings.proverbbutton;ctrl.updateSettings()") Button
            li(ng-if="ctrl.changeable.hideNav")
              button.btn.btn-default.navbar-btn(tooltips tooltip-template="Hide this Navbar" style="margin-left:10px" type="button" ng-click="ctrl.settings.hiddenNav = true;ctrl.updateSettings()") Hide Navbar
        // /.nav-collapse
    #content.fluid-container.container-table
      .row.vertical-center-row
        span#proverb(ng-click="ctrl.newProverb();ctrl.updateSettings()" ng-style="{'color':ctrl.settings.fontcolor, 'font-size':ctrl.settings.fontsize+'vmin', 'font-family':ctrl.settings.fontfamily}" ng-show="ctrl.proverb.length > 0") {{ctrl.proverb}}
        button#newProverb.btn.btn-default.ghost-button(ng-show="ctrl.settings.proverbbutton" ng-click="ctrl.newProverb()") New Proverb
    button#showNavbar.btn.btn-default.ghost-button(ng-show="ctrl.settings.hiddenNav" ng-click="ctrl.settings.hiddenNav = false;ctrl.updateSettings()" ng-if="ctrl.default.unhideNavButton") Show Navbar
    button#share.btn.btn-default.ghost-button(ng-click="ctrl.openModal()" ng-if="ctrl.default.shareButton") Share
    script(src="/reload/reload.js")
    if dev
      include ./scripts-dev.jade
    else
      include ./scripts.jade
