doctype html
html(lang='de', ng-app='verbshaker' ng-controller="verbshakerController")
  head
    meta(name='author', content='Dominik Sigmund')
    meta(name='publisher', content='Dominik Sigmund')
    meta(name='copyright', content='Dominik Sigmund')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='page-topic', content='')
    meta(name='page-type', content='')
    meta(name='audience', content='Alle')
    meta(http-equiv='content-language', content='de')
    meta(name='robots', content='index, follow')
    meta(name='DC.Creator', content='Dominik Sigmund')
    meta(name='DC.Publisher', content='Dominik Sigmund')
    meta(name='DC.Rights', content='Dominik Sigmund')
    meta(name='DC.Description', content='')
    meta(name='DC.Language', content='de')
    link(rel='stylesheet' ng-href="/css/{{settings.font.family}}.css")
    if dev
      include ./styles-dev.jade
    else
      include ./styles.jade
    link(rel="apple-touch-icon", sizes="180x180", href="images/apple-touch-icon.png")
    link(rel="icon", type="image/png", href="images/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="images/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="images/manifest.json")
    link(rel="mask-icon", href="images/safari-pinned-tab.svg", color="#4caf50")
    meta(name="apple-mobile-web-app-title", content="Verbshaker")
    meta(name="application-name", content="Verbshaker")
    meta(name="msapplication-config", content="images/browserconfig.xml")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    title VerbShaker
  body.no-skin(ng-style="{'background-color':settings.backgroundcolor}")
    nav.navbar.navbar-default.navbar-fixed-top(ng-show="!settings.hiddenNav")
      .fluid-container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#')
            img(src="images/android-chrome-192x192.png")
            span Verbshaker
        #navbar.collapse.navbar-collapse(style="max-height: 500px;")
          ul.nav.navbar-nav.navbar-left(ng-if="changeable.language")
            li(ng-class="{ active:  settings.language === lang}" ng-repeat="lang in languages")
              a(href='#' ng-click="settings.language = lang; updateSettings(); newProverb()")
                span.flag-icon(ng-class="'flag-icon-'+lang" tooltips tooltip-template="Change to {{lang}}")
          ul.nav.navbar-nav.navbar-right(style="margin-right: 15px;")
            li.navbar-btn(style="width:50px; margin-right: 50px;margin-left: 10px;" ng-if="changeable.autoupdate")
              h-number(tooltips tooltip-template="Autoupdate every x Seconds. 0 is off" value="settings.autoupdate" ng-model="settings.autoupdate" min="0" max="60" step="1")
            li(ng-if="changeable.backgroundcolor")
              button.btn.btn-default.navbar-btn(tooltips tooltip-template="Change Background Color" style="margin-left:10px" colorpicker="hex" type="button" ng-model="settings.backgroundcolor" ng-change="updateSettings()") Background Color
            li(ng-if="changeable.fontcolor")
              button.btn.btn-default.navbar-btn(tooltips tooltip-template="Change Font Color" style="margin-left:10px" colorpicker="hex" type="button" ng-model="settings.font.color" ng-change="updateSettings()") Font Color
            li(ng-if="changeable.fontfamily")
              ui-select.form-control.navbar-btn(theme="bootstrap" tooltips tooltip-template="Change Font Family" style="margin-left:10px" ng-options="font.postscriptName as font.family for font in fonts" ng-model="settings.font.family" ng-change="updateSettings()")
            li.navbar-btn(style="width:50px; margin-right: 50px; margin-left: 10px;" ng-if="changeable.fontsize")
              h-number(tooltips tooltip-template="Fontsize relative to screensize" value="settings.font.size" ng-model="settings.font.size" min="1" max="60" step="1")
            li(ng-if="changeable.proverbbutton")
              button.btn.btn-default.navbar-btn(tooltips tooltip-template="Toggle Proverb-Button" style="margin-left:10px" type="button" ng-click="settings.proverbbutton = !settings.proverbbutton;updateSettings()") Button
            li(ng-if="changeable.hideNav")
              button.btn.btn-default.navbar-btn(tooltips tooltip-template="Hide this Navbar" style="margin-left:10px" type="button" ng-click="settings.hiddenNav = true;updateSettings()") Hide Navbar
        // /.nav-collapse
    #content.fluid-container.container-table
      .row.vertical-center-row
        span#proverb(ng-click="newProverb();updateSettings()" ng-style="{'color':settings.font.color, 'font-size':settings.font.size+'vmin', 'font-family':settings.font.family}" ng-show="proverb.length > 0") {{proverb}}
        button#newProverb.btn.btn-default.ghost-button(ng-show="settings.proverbbutton" ng-click="newProverb()") New Proverb
    button#showNavbar.btn.btn-default.ghost-button(ng-show="settings.hiddenNav" ng-click="settings.hiddenNav = false;updateSettings()" ng-if="default.unhideNavButton") Show Navbar
    button#share.btn.btn-default.ghost-button(ng-click="openModal()" ng-if="default.shareButton") Share
    button(ng-click="settings.font.family='XtrusionBRK'") TEST
    button(ng-click="settings.font.family='Conduit2ItalicsBRK'") TEST2
    script(src="/reload/reload.js")
    if dev
      include ./scripts-dev.jade
    else
      include ./scripts.jade
