link(rel='stylesheet', href='css/bootstrap.min.css')
link(rel='stylesheet', href='css/flag-icon.min.css')
link(rel='stylesheet', href='css/font-awesome.min.css')
link(rel='stylesheet', href='css/colorpicker.css')
link(rel='stylesheet', href='css/angular-tooltips.min.css')
link(rel='stylesheet', href='css/main.css')
